section {
  .slide {
    box-sizing: border-box;
    .slider1 {
      .img-slidr {
        height: 510px;
        background-image: url("../assets/images/sliders/slider1.jpg");
        background-position: -70px;
        display: flex;
        .container {
          color: white;
          max-width: 82%;
          margin: auto;
          flex-grow: 0.5;
          h4 {
            font-size: 18px;
            margin-bottom: 7px;
          }
          h2 {
            font-size: 30px;
            margin-bottom: 12px;
            span {
              color: green;
            }
          }
          p {
            margin-bottom: 12px;
          }
          router-link {
            display: inline-block;
            background-color: rgb(4, 201, 4);
            margin-right: 10px;
            height: 30px;
            border-radius: 5px;
            padding: 5px 7px 0 7px;
            cursor: pointer;
          }
        }
        .imgs {
          z-index: 1;

          .img1 {
            img {
              position: relative;
            }
          }
          .img2 {
            position: relative;
            bottom: 124px;
            right: 190px;
            img {
              bottom: 124px;
              right: 190px;
            }
          }
          .img3 {
            position: relative;
            bottom: 291px;
            left: 310px;
            img {
              bottom: 291px;
              left: 310px;
            }
          }
        }
      }
    }
  }
  .slidr-botm {
    height: 101px;
    background-color: lawngreen;
    display: flex;
    .hovers {
      width: 50%;
      display: flex;
      .hovr {
        width: 33.3%;
        color: white;
        z-index: 1;
      }
      .hovr:hover {
        background-color: #666;
      }
      .hovrBlck1 {
        background-color: rgb(16, 143, 16);
      }
      .hovrBlck2 {
        background-color: rgb(37, 197, 37);
      }
      .hovrBlck3 {
        background-color: rgb(95, 223, 45);
      }
    }
    .text {
      font-family: PT Sans, sans-serif;
      color: rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;
      .txt {
        margin-right: 20px;
        margin-left: 30px;
      }
      h6 {
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.42857143;
      }
      router-link {
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: normal;
        font-weight: 300;
        font-family: PT Sans;
        font-size: 14px;
        padding: 8px 15px;
        color: #666;
        background-color: white;
        height: 40px;
      }
    }
  }
}
