header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .green {
  border-top: 5px solid #72e201;
  border-bottom: 5px solid #72e201;
}

header .hd-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  list-style: none;
  background-color: #e9e9e9;
  border-bottom: 1px solid rgba(136, 136, 136, 0.623);
}

header .hd-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .hd-top ul li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 35px;
  border-left: 1px solid rgba(136, 136, 136, 0.623);
}

header .hd-top ul li img {
  width: 10px;
  height: 14px;
}

header .hd-top ul li:last-child {
  border-right: 1px solid rgba(136, 136, 136, 0.623);
}

header .hd-top ul li:hover {
  background-color: rgba(207, 207, 207, 0.753);
}

header .headr {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

header .headr .hdr_logo {
  width: 40%;
  margin: auto;
}

header .headr .hdr_logo img {
  width: 250px;
  height: 80%;
}

header .headr .search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 60%;
}

header .headr .search ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .headr .search ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  background-color: #727272;
  margin-right: 10px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headr .search ul li img {
  width: 15px;
  height: 15px;
}

header .headr .search ul li:hover {
  background-color: #72e201;
}

header .hd-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  background-color: #313131;
  border-bottom: 5px solid #535353;
  position: -webkit-sticky;
  position: sticky;
}

header .hd-bottom nav {
  height: 100%;
}

header .hd-bottom nav ul {
  display: inline-block;
  height: 100%;
}

header .hd-bottom nav ul router-link {
  color: white;
  display: inline-block;
  height: 100%;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

header .hd-bottom nav ul router-link:hover {
  background-color: #535353;
  cursor: pointer;
}

section .slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .slide .slider1 .img-slidr {
  height: 510px;
  background-image: url("../assets/images/sliders/slider1.jpg");
  background-position: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .slide .slider1 .img-slidr .container {
  color: white;
  max-width: 82%;
  margin: auto;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

section .slide .slider1 .img-slidr .container h4 {
  font-size: 18px;
  margin-bottom: 7px;
}

section .slide .slider1 .img-slidr .container h2 {
  font-size: 30px;
  margin-bottom: 12px;
}

section .slide .slider1 .img-slidr .container h2 span {
  color: green;
}

section .slide .slider1 .img-slidr .container p {
  margin-bottom: 12px;
}

section .slide .slider1 .img-slidr .container router-link {
  display: inline-block;
  background-color: #04c904;
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 7px 0 7px;
  cursor: pointer;
}

section .slide .slider1 .img-slidr .imgs {
  z-index: 1;
}

section .slide .slider1 .img-slidr .imgs .img1 img {
  position: relative;
}

section .slide .slider1 .img-slidr .imgs .img2 {
  position: relative;
  bottom: 124px;
  right: 190px;
}

section .slide .slider1 .img-slidr .imgs .img2 img {
  bottom: 124px;
  right: 190px;
}

section .slide .slider1 .img-slidr .imgs .img3 {
  position: relative;
  bottom: 291px;
  left: 310px;
}

section .slide .slider1 .img-slidr .imgs .img3 img {
  bottom: 291px;
  left: 310px;
}

section .slidr-botm {
  height: 101px;
  background-color: lawngreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .slidr-botm .hovers {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .slidr-botm .hovers .hovr {
  width: 33.3%;
  z-index: 1;
}

section .slidr-botm .hovers .hovr:hover {
  background-color: #666;
}

section .slidr-botm .hovers .hovrBlck1 {
  background-color: #108f10;
  text-transform: uppercase;
}

section .slidr-botm .hovers .hovrBlck2 {
  background-color: #25c525;
  text-transform: uppercase;
}

section .slidr-botm .hovers .hovrBlck3 {
  background-color: #5fdf2d;
  text-transform: uppercase;
}

section .slidr-botm .text {
  font-family: PT Sans, sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .slidr-botm .text .txt {
  margin-right: 20px;
  margin-left: 30px;
}

section .slidr-botm .text h6 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

section .slidr-botm .text p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857143;
}

section .slidr-botm .text router-link {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: normal;
  font-weight: 300;
  font-family: PT Sans;
  font-size: 14px;
  padding: 8px 15px;
  color: #666;
  background-color: white;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pad {
  padding-left: 70px;
  padding-right: 70px;
}
/*# sourceMappingURL=style.css.map */